.postBody {
  :global(.rehype-code-title) {
    @apply -mb-3 rounded-tl rounded-tr bg-slate-600 px-4 pt-1 pb-2 font-mono text-sm text-gray-200 dark:bg-gray-700;
  }

  div:global(.rehype-code-title) + pre {
    @apply rounded-tl-none rounded-tr-none;
  }

  img {
    @apply ml-auto mr-auto;
  }

  blockquote {
    @apply not-italic;

    p:first-of-type::before {
      content: none;
    }
    p:last-of-type::after {
      content: none;
    }
  }

  // For rehype auto link headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply -ml-8 scroll-mt-24 pl-8;

    :global(.autolink-anchor) {
      @apply invisible absolute -ml-8;
    }

    &:hover > :global(.autolink-anchor) {
      @apply md:visible;
    }
  }
}
